{% extends "base.html" %}

{% block main %}
<header1>
  <h2>When working - Instrumentalist - Fav Genre</h2>
</header1>

<table>
  <thead>
    <tr> 
      <th>ID</th>
      <th>While Working</th>
      <th>Instrumentalist</th>
      <th>Fav genre</th>
     
    </tr>    
  </thead>
  <tbody>
    {% for ID in tags %}
    <tr>
      <td>{{ ID[0] }}</td>
      <td>{{ ID[1] }}</td>
      <td>{{ ID[2] }}</td>
      <td>{{ ID[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  
</table>
<p>This page shows the ID, whether they listen to music while working, whether they're an instrumentalist and what the persons favourite genre is.</p>


{% endblock %} 